<%= flash[:notice] %>
<p>
<%= link_to "一覧画面",  users_path%>
<%= link_to "投稿", new_user_path %>
</p>

<% @users.each do |user| %>
  <p>名前：<%= link_to user.name, user_path(user.id) %> 　<%= user.age %> 歳</p>
<% end %>